<div id="<%= 'todo-' + todo._id.toString() %>" class="todo">
  <%- include("./todo-check.ejs", { todo }) %>
  <div
    class="peer-checked:bg-emerald-400 peer-checked:text-gray-200 peer-checked:line-through"
  >
    <span _="on foo log 'bar'"><%= todo.todo %></span>
    <%- include("./edit-form.ejs", { todo }) %>
    <div class="todo-icons">
      <div
        _="on click toggle .hidden on (<span/> in #todo-<%= todo._id.toString() %>) end
        on click toggle .hidden on (<form/> in #todo-<%= todo._id.toString() %>) end
        on click toggle .flex on (<form/> in #todo-<%= todo._id.toString() %>) end
        on click toggle .hidden on <#todo-<%= todo._id.toString() %> > input[type='checkbox']/>"
      >
        <img src="/assets/editpenicon.svg" alt="edit pen icon svg image" />
      </div>
      <div
        hx-delete="/todos"
        hx-target="#todo-<%= todo._id %>"
        hx-swap="outerHTML"
        hx-vals="js:{_id:'<%= todo._id %>'}"
      >
        <img src="/assets/deletetrashcan.svg" alt="trash can icon svg image" />
      </div>
    </div>
  </div>
</div>
