<%- include("./partials/header.ejs") %>
<body hx-ext="response-targets">
  <%- include("./partials/navbar.ejs") %>
  <main class="wrapper">
    <%- include("./partials/todo-form.ejs") %> <%-
    include("./partials/todos.ejs") %>
  </main>
</body>
<%- include("./partials/footer.ejs") %>
